
@{
    ViewBag.Title = "demoFileUpload";
}

<h2>demoFileUpload</h2>

<form enctype="multipart/form-data" method="post">
    請選擇要上傳的檔案
    <p>
        <input type="file" name="photo" />
        <input type="submit" value="開始上傳" />
    </p>
</form>